{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Application Form</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Job Application Form</h1>
    <div class="form-container">
        <form method="post">
            {% csrf_token %}
            {{ applicant_form.as_table }}
            {{ education_form.as_table }}
            {{ experience_form.as_table }}
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
