{% extends 'base.html'%}
{% block title%}User Information{%endblock%}
{% block content%}
<h1>Enter you Information</h1>
<form method="post">
    {%csrf_token%}
    <div class="formg-roup">
        {{form.name.label_tag}}
        {{form.name}}
    </div>
    <div class="form-group">
        {{form.email.label_tag}}
        {{form.email}}
    </div>
    <div class="form-group">
        {{form.subject.label_tag}}
        {{form.subject}}
    </div>
    <div class="form-group">
        {{form.message.label_tag}}
        {{form.message}}
    </div>
    <button type="submit" class>Rember Me</button>
    
</form>

{%endblock%}